/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  border: 1px solid grey;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  padding: 0.5rem;
}
h2 {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  padding: 0.5rem;
}
h3 {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  padding: 0.5rem;
}
p {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  padding: 0.5rem;
}
.NAVIGATION header div nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
header nav {
  margin: 1%;
}
header a {
  text-align: center;
  color: gray;
  padding: 1rem;
}
.otherContent {
  display: flex;
  background: grey;
  padding: 25px;
  border-radius: 8px;
}
.otherContent img {
  border-radius: 8px;
  width: 250px;
}
.otherContent .sectonOne {
  justify-content: center;
}
.otherContent2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.otherContent2 .sectionTwoCard1 {
  width: 49%;
}
.otherContent2 .sectionTwoCard2 {
  width: 49%;
}
footer {
  background: grey;
  padding: 3%;
  text-align: center;
  margin-top: 10px;
}
#workHistory {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#workHistory td,
#workHistory th {
  border: 1px solid #ddd;
  spadding: 8px;
}
#workHistory tr:nth-child(even) {
  background-color: #f2f2f2;
}
#workHistory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
}
